*{
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background-color: rgb(50, 48, 56);
    color: white;
}

.header-img {
    height: 90px;
    width: 90px;
    object-fit: cover;
}

.header {
    height: 100px;
    margin-bottom: 8px;
    position: sticky;
    top: 0;
    background-color: rgb(50, 48, 56);
}

.pkm-card {
    height: auto;
    width: 275px;
    background: #434242;
    background: -moz-linear-gradient(top, #434242 0%, #404040 32%, #272727 100%);
    background: -webkit-linear-gradient(top, #434242 0%, #404040 32%, #272727 100%);
    background: linear-gradient(to bottom, #434242 0%, #404040 22%, #272727 100%);
    border-radius: 10px;
}

.big-pokemon-card {
    height: auto;
    width: 335px;
    background: #434242;
    background: -moz-linear-gradient(top, #434242 0%, #404040 32%, #272727 100%);
    background: -webkit-linear-gradient(top, #434242 0%, #404040 32%, #272727 100%);
    background: linear-gradient(to bottom, #434242 0%, #404040 22%, #272727 100%);
    border-radius: 10px;
}

.pkm-card-hover {
    height: auto;
}

.bg-behind-pkm-img {
    background: #A7A7A7;
    background: -moz-radial-gradient(center, #A7A7A7 0%, #424242 42%, #424242 100%);
    background: -webkit-radial-gradient(center, #A7A7A7 0%, #424242 42%, #424242 100%);
    background: radial-gradient(ellipse at center, #A7A7A7 0%, #424242 42%, #424242 100%);
}

.pkm-img {
    height: 175px;
    width: 175px;
}

.pkm-img-container {
    background: linear-gradient(to bottom, rgba(214, 214, 214, 0.3), rgba(77, 77, 77, 0.1));
    box-shadow: 0 0 10px 10px rgba(202, 201, 201, 0.05);
    border-radius: 50%;
    width: 200px;
    height: 200px;
    text-align: center;
}

.pkm-card-hover:hover {
    -webkit-box-shadow: inset 0px 0px 40px 8px rgba(245,245,245,0.74); 
    box-shadow: inset 0px 0px 40px 8px rgba(245,245,245,0.74);
}

.pkm-card-hover:hover .pkm-img {
    height: 210px;
    width: 210px;
}

@media (max-width: 500px) {
    .header-img {
        height: 60px;
        width: 60px;
        object-fit: cover;
    }
}

@media (max-width: 400px) {
    .big-pokemon-card {
        width: 275px;
    }
    
}