.overflow-hidden {
    overflow: hidden;
}

.pkm-card-overlay {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    scale: 1.4;
}

.stats-container {
    height: 225px;
}