/*Border-colors*/

.b-grass {
    border: 2px solid #7AC74C;
}

.b-fire {
    border: 2px solid #f04c1a;
}

.b-poison {
    border: 2px solid #A33EA1;
}

.b-water {
    border: 2px solid #6390F0;
}

.b-bug {
    border: 2px solid #A6B91A;
}

.b-flying {
    border: 2px solid #A98FF3;
}

.b-normal {
    border: 2px solid #A8A77A;
}

.b-electric {
    border: 2px solid #F7D02C;
}

.b-ground {
    border: 2px solid #E2BF65;
}

.b-fairy {
    border: 2px solid #D685AD;
}

.b-fighting {
    border: 2px solid #b32b26cc;
}

.b-psychic {
    border: 2px solid #F95587;
}

.b-rock {
    border: 2px solid #B6A136;
}

.b-steel {
    border: 2px solid #B7B7CE;
}

.b-ice {
    border: 2px solid rgb(0, 204, 255);
}

.b-ghost {
    border: 2px solid #735797;
}

.b-dragon {
    border: 2px solid #6F35FC;
}

.b-dark {
    border: 2px solid #70574670;
}


/* background-colors */
.bg-grass {
    background-color:  #7AC74C;
}

.bg-fire {
    background-color: #f04c1a;
}

.bg-poison {
    background-color: #A33EA1;
}

.bg-water {
    background-color: #6390F0;
}

.bg-bug {
    background-color: #A6B91A;
}

.bg-flying {
    background-color: #A98FF3;
}

.bg-normal {
    background-color: #A8A77A;
}

.bg-electric {
    background-color: #F7D02C;
}

.bg-ground {
    background-color: #E2BF65;
}

.bg-fairy {
    background-color: #D685AD;
}

.bg-fighting {
    background-color: #b32b26cc;
}

.bg-psychic {
    background-color: #F95587;
}

.bg-rock {
    background-color: #B6A136;
}

.bg-steel {
    background-color: #B7B7CE;
}

.bg-ice {
    background-color: rgb(0, 204, 255);
}

.bg-ghost {
    background-color: #735797;
}

.bg-dragon {
    background-color: #6F35FC;
}

.bg-dark {
    background-color: #70574670;
}