.bg-grass {
    border: 1px solid green;
}

.bg-fire {
    border: 1px solid red;
}

.bg-poison {
    border: 1px solid rgb(109, 7, 70);
}

.bg-water {
    border: 1px solid rgb(7, 78, 231);
}

.bg- {
    border: 1px solid red;
}

.bg-fire {
    border: 1px solid red;
}

.bg-fire {
    border: 1px solid red;
}

.bg-fire {
    border: 1px solid red;
}

.bg-fire {
    border: 1px solid red;
}

.bg-fire {
    border: 1px solid red;
}

.bg-fire {
    border: 1px solid red;
}

.bg-fire {
    border: 1px solid red;
}

